@import 'variables';

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  color: $white-color;
  font-weight: bold;
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
  box-shadow: $box-shadow-color;
}

.toast.success {
  background-color: #4caf50;
}

.toast.failure {
  background-color: #f44336;
}
