$gradient: linear-gradient(
  to bottom right,
  rgba(183, 135, 245, 1),
  rgba(116, 62, 228, 1)
);
$text-color: #121826;
$select-background-color: #ced6e1;
$select-text-color: #364153;
$button-color: #406aff;
$editor-dark-color: #1e1e1e;
$editor-width: 60rem;
$editor-height: 31.25rem;
$box-shadow-color: rgba(149, 157, 165, 0.2) 0 0.5rem 1.5rem;
$white-color: #ffffff;
